form {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.field {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

textarea {
    height: 220px;
}

